a {
    text-decoration: none;
}
.o-container {
    max-width: 1740px;
    padding: 0 9.95608%;
}

.c-main {
    max-width: 1920px;
    background-color: #f4ede8;
}
.c-main, .o-container {
    width: 100%;
    margin: 0 auto;
}