.introduction-btn {
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    .btn {
      padding: 16px 58px;
      display: inline-block;
      margin: 0 auto;
      color: #fff;
      background: #75c044;
      font-size: 18px;
      text-transform: uppercase;
      min-width: 300px;
    }
  }