.introduction-btn {
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    .btn {
      padding: 16px 58px;
      display: inline-block;
      margin: 0 auto;
      color: map-get($colors,'white');
      background: map-get($colors,'green');
      font-size: 18px;
      text-transform: uppercase;
      min-width: 300px;
    }
  }