.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: map-get($modal, 'background');
  padding: 66px 60px;
  display: none;
  z-index: 1060;
  @include media('<phone') {
    padding: 12% 5%;
  }
  &-dialog {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    max-width: 904px;
    margin: 0 auto;
    padding: 60px;
    position: relative;
    .btn-close {
      top: 20px;
      right: 20px;
      width: 34px;
      height: 34px;
      cursor: pointer;
      position: absolute;
      z-index: 3;
      background: transparent;
      border: 0;
      &:after,
      &:before {
        position: absolute;
        top: 0;
        left: 14px;
        display: block;
        width: 2px;
        height: 34px;
        background: var(--color-black);
        content: '';
        transform: rotate(-45deg);
      }
      &:before {
        transform: rotate(45deg);
      }
    }
  }
  &-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 17px;
  }
}
