.partners-content {
  text-align: center;
  padding: 10px 4.2%;
  @include media('<desktop') {
    width: 33.33333%;
  }
  @include media('<phone') {
    width: 50%;
  }
  &-img {
    width: 130px;
    height: 130px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 5px;
  }
  &-text {
    max-width: 170px;
    margin: 0 auto;
    font-size: 10px;
    font-weight: 500;
  }
}
