.section-table-content {
  padding-top: 45px;
  &-row {
    border-bottom: 1px solid map-get($colors,'grey400');
    padding: 40px;
    @include media('<desktop') {
      padding: 40px 20px;
    }
    &--title {
      background-color: map-get($colors,'grey300');
      padding-top: 8px;
      padding-bottom: 10px;
      @include media('<desktop') {
        display: none;
      }
      .section-table-content-info {
        &-time {
          font-size: 18px;
          font-weight: 300;
        }
        &-topic {
          font-size: 18px;
          font-weight: 300;
        }
        &-speaker {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }
  &-info {
    display: flex;
    @include media('<desktop') {
      flex-wrap: wrap;
    }
    &-time {
      width: 20.74236%;
      font-size: 20px;
      @include media('<desktop') {
        width: 150px;
        order: 2;
      }
    }
    &-topic {
      width: 63.10044%;
      font-size: 22px;
      font-weight: 550;
      @include media('<desktop') {
        width: 100%;
        order: 1;
      }
    }
    &-speaker {
      width: 21.28821%;
      font-size: 20px;
      @include media('<desktop') {
        order: 3;
        width: calc(100% - 150px);
      }
    }
    &-text {
      font-size: 14px;
      color: map-get($colors,'grey500');
      position: relative;
      top: -4px;
    }
  }
}
