.b-agenda {
  background-image: url(../../../../images/angels-s.svg);
  background-repeat: no-repeat;
  background-position: -10% 100%;
  padding-bottom: 160px;

  .o-container {
    .b-content__text {
      line-height: 1.8;
      color: #242424;
      font-size: 18px;
      h2 {
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 24px;
        font-weight: 300;
        text-align: center;
        color: #1a1a1a;
        text-transform: uppercase;
      }
    }
    .b-agenda__list {
        padding-top: 45px;
    }
  }
}
