.section-table {
  background-image: url(../../../../images/angels-s.svg);
  background-repeat: no-repeat;
  background-position: -10% 100%;
  padding-bottom: 160px;
  @include media('<desktop') {
    background-position: -30% 100%;
  }
}
